body {
    height: auto;
	overflow:auto;
	background: white;
}

.navi_item {
    position: absolute;
    top: 0;
    width: 110px;
    cursor: pointer;
	color:white;
	transition: color 1s ease;
}
.navi_item p{
	transition: background 1s ease;
}
.navi_item:hover{
	color:#FEC33A;
}
.navi_item:hover p{
	background:#FEC33A;
}
#nav_msg{
    position: absolute;
    top: 0;
	right:0;
    width: 60px;
    cursor: pointer;
	color:white;
}
#nav_msg .msgicon{
	height:30px;
	width:60px;
	margin:8px 0;
	border-left:1px solid white;
	background:url("../img/msgicon.png") center center no-repeat;
	transition: background 1s ease;
}
#nav_msg:hover .msgicon{
	background:url("../img/msgicon_hover.png") center center no-repeat;
}

#nav_exp{
	right: 180px;
}
#nav_home{
	right:10px;
}
#nav_fav{
	right:70px;
}

.navi_item span {
    display: block;
    position: absolute;
    right: 49px;
    margin: 12px 0 0 0px;
    font-weight: 100;
    font-size: 15px;
}

.navi_item .square {
    position: relative;

    float: right;
    width: 36px;
    height: 38px;
    overflow: hidden;
    margin: 4px;
}

.p_short {
    display: block;
    position: relative;
    float: left;
    width: 16px;
    height: 16px;
    margin: 2px 1px 1px;
    background: white;
    transition: width 1s ease;
}

.p_long {
    display: block;
    position: relative;
    float: left;
    width: 7px;
    height: 35px;
    margin: 2px 1px 1px;
    background: white;
    transition: width 1s ease;
}

.items {
	position: absolute;
	display: block;
	width: 100%;
	top: 51px;
}
.bgimg{
	background-repeat:no-repeat;
	background-position:center center;
	background-attachment:fixed;
	background-size:cover;
}

.itemcontainer {
    padding: 0;
    display: block;
    position: relative;
	margin:auto;
}

ul.slider {
	list-style: none;
}

ul.slides {
    position: relative;
    margin: 0;
    background: transparent;
    -webkit-transition: all .5s ease;
}


.left-stuff {
    position: relative;
    width: 50px;
    height: 244px;
    float: left;
    margin: 1px 0px 0 -1px;
}

/*.left-stuff li {
    list-style: none;

    width: auto;
}

.left-stuff li a {}

.left-stuff li a img {
    min-width: 0;
    width: auto;
    height: auto;
    z-index: 1;
}*/

.left-stuff li #fav{
	cursor:pointer;
}

.left-stuff:after {
    content: ' ';
    width: 12px;
    height: 30px;
    background: #ffffff url(../img/leftstuff.png) no-repeat right top;
    display: block;
    position: absolute;
    left: 0px;
    bottom: -31px;
    box-sizing: border-box;
}

.st {
    display: block;
    line-height: 0;
}

.stButton {
    height: 50px;
    margin-left: 1px !important;
}

.stLarge {
    width: 50px !important;
    height: 50px !important;
    display: block;
    margin: 0;
}

.facebook span.stLarge {
    background: url("../img/social/fb.png") no-repeat scroll left top transparent !important;
}

.twitter span.stLarge {
    background: url("../img/social/twitter.png") no-repeat scroll left top transparent !important;
}

.googleplus span.stLarge {
    background: url("../img/social/gp.png") no-repeat scroll left top transparent !important;
}

.pinterest span.stLarge {
    background: url("../img/social/pinterest.png") no-repeat scroll left top transparent !important;
    margin-top: -2px;
}

.reddit span.stLarge {
    background: url("../img/social/reddit.png") no-repeat scroll left top transparent !important;
    margin-top: -3px;
}

.st_custom {
    /*padding:0px 16px 0 0;*/
    /*width: 33px;*/
    /*height: 49px;*/
    /*display: block;*/
}

.st_facebook_large {
}


.item-content {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 1;
}

.item-content img {
    height: auto;
    min-width: 370px;
    width: 100%;
}

.item-content iframe {
    min-width: 600px;
    min-height: 565px;
    height: 100%;
    width: 100%;
    z-index: 10;
}

#item-mail .content-image-div {
    max-height: 210px;
}

.content-image-div {
    display: block;
    opacity: 1;
    top: 51px;
    left: 0;
    height: 230px;
    right: 0;
    z-index: -1 !important;
    position: fixed;
    width: 100%;
    max-height: 550px;
    /*background-color: #FEC33A*/;
    pointer-events: none;
    -webkit-transition: -webkit-filter 1s ease;
    -webkit-filter: blur(0px);
   /* background: url(http://www.engin.umich.edu/portal_css/Engineering%20Theme%202012/++resource++umich_images/topContentBg.jpg) #c0d4eb 50% 0px;*/
}

.content-image-div h2 {}

.byline:before {
    content: 'By ';
}

.selectall {
    display: block;
    text-decoration: none;
    font-style: italic;
    font-weight: 900;
    font-size: 11px;
}

.byline {
    display: block;
    margin: 0 0 0 65px;
    font-weight: 100;
    color: #aaa;
    font-size: 14px;
    font-style: italic;
}

.content-image-div.iframe {
    height: 100%;
    z-index: 1 !important;
    max-height: none;
    pointer-events: all;
}

.content-info {
    /*position: absolute;
    top: 50%;
    left: 50%;*/
    display: block;
    background: #fefefe;
    max-width: 960px;
    width: 85%;
    margin: 230px auto 0;
    padding: 20px 20px 30px;
    z-index: 1000 !important;
    overflow: auto;
}

.content-info h2 {
/*    position: absolute;
    top: -512px;*/
}

.content-info h2, .content-info h3 {
    font-family: "league-gothic",sans-serif;
    margin: 0 0 9px 65px;
    font-weight: 100;
    line-height: 50px;
    text-transform: uppercase;
    font-size: 48px;
    color: #333;
}

.content-info div.body {
    width: auto;
    margin: 0 0 0 65px;
}

.content-info div.body p {
    max-width: 570px;
    font-weight: 100;
    line-height: 1.6em;
    margin: 1em 0 1.6em;
    width: 80%;
}

.content-info div.body iframe {
    min-width: 400px;
    width: 100%;
    height: auto;
    min-height: 340px;
    margin: 0 0 30px;
}

.sticky {
	background: none repeat scroll 0 0 #171100;
    /*box-shadow: 0 2px 4px #333333;
    -webkit-box-shadow: 0 2px 4px #333333;*/
    display: block;
    height: 51px;
	position: fixed !important;
    top: 0;
	left: 0;	
    width: 100%;
	overflow: visible;
	padding: 0;
	z-index: 1000;
}

.ie7 .sticky {
}

a#circle {
	display: block;
	position: absolute;
	right: -60px;
	height: 48px;
	width: 48px;
	top: -12px;	
}

#holder {
    height: 260px;
}

#top-header-nav a {
	text-decoration: none;
	display: inline-block;
	border: thin solid black;
	padding: 1px 6px;
	background: black;
}

.sticky ul {
	display: block;
	margin: 0 auto;
	overflow: visible;
	height: 50px;
	/*background: url(../img/dmebadge.jpg) scroll no-repeat right 3px;*/
}

.sticky ul li {
	list-style: none;
	padding: 0;
	display: inline-block;
	margin: 4px 8px 0 0;
	color: white;
}

.sticky ul .simplify a {
	text-align: right;
	right: 0;
	position: absolute;
	width: 270px;	
}

.sticky ul li.fb {}

.dmegallery {
	right: 57px;
	display: block;
	position: absolute;
	top: 9px;
}

.sticky ul li a {
	color: #ddd;
	text-decoration: none;
	font-size: 13px;
	font-weight: 100;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.sticky ul .home {
	position: absolute;
	/*width: 43px;*/
	overflow: hidden;
	left: 7px; top: 8px;
	margin: 0;
}

.sticky ul .counts {
	float: none;	
}

.opaque {
    opacity: 1 !important;
}


@media only screen and (max-height: 800px) {

}

@media only screen and (max-width: 1200px) {

}

@media only screen and (max-width: 400px) {

}